# macOS
.DS_Store

# Python
__pycache__/
*$py.class
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg
*.egg-info/
.build/
/build/
/dist/
*.log
.venv/
.env
.venv*/
.env*/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
mutants/
.pyre/
.tox/
.pytype/
.ipynb_checkpoints/
.cache/

# Editors/IDE
.vscode/
.idea/

# Project-specific
.jerry-scaffold.lock
tests/fixtures/**/build/
