id: {{ stream_id | tojson }}  # format: domain.dataset.(variant)

from:
  align:
{{ input_streams | to_yaml(indent=4) }}

combine:
  entrypoint: {{ combine_entrypoint | tojson }}
  args: {}

# Dataset sample.keys select row identity; remaining partition fields suffix series IDs.
# transforms: []
